@layout('layouts/main')

@section('header')
@!component('components/header')
@endsection

@section('main')
  <h3 class="m-6">We are updating how workshop pages, please check back later.</h3>
@endsection

@section('footer')
@!component('components/footer')
@endsection